{% import "_macros.jinja" as macros -%}
# Use this environment to download all repositories from `repos.yaml` file:
#
#   export DOODBA_GITAGGREGATE_UID="$(id -u $USER)" DOODBA_GITAGGREGATE_GID="$(id -g $USER)" DOODBA_UMASK="$(umask)"
#   docker-compose -f setup-devel.yaml run --rm odoo
#
# You can clean your git project before if you want to have all really clean:
#
#   git clean -ffd

version: "2.4"

services:
  odoo:
    {%- if odoo_oci_image and odoo_version >= 14 %}
    image: {{ odoo_oci_image }}:{{ macros.version_minor(odoo_version) }}
    {%- endif %}
    build:
      context: ./odoo
      args:
        AGGREGATE: "false"
        DEPTH_DEFAULT: 100
        ODOO_VERSION: "{{ macros.version_minor(odoo_version) }}"
        PYTHONOPTIMIZE: ""
        PIP_INSTALL_ODOO: "false"
        CLEAN: "false"
        COMPILE: "false"
        UID: "${UID:-1000}"
        GID: "${GID:-1000}"
    networks:
      - public
    volumes:
      - openupgrade_filestore_{{ project_name }}:/var/lib/odoo:rw,z
      - ./odoo/custom:/opt/odoo/custom:rw,z
      - ./odoo/auto:/opt/odoo/auto:rw,z
    environment:
      {%- if odoo_version >= 14 %}
      ODOO_REPO: ocb
      {% else %}
      ODOO_REPO: openupgrade
      {%- endif %}
      OPENBLAS_NUM_THREADS: 1
      EMAIL_FROM: "{{ smtp_default_from|default("", true) }}"
      PGDATABASE: &dbname {{ postgres_dbname }}_openupgrade_{{  macros.version_major(odoo_version) }}
      PGUSER: &dbuser "{{ postgres_username }}"
      {% if postgres_host -%}
      PGHOST: "{{ postgres_host }}"
      {% endif %}
      DEPTH_DEFAULT: 100
      # XXX Export these variables before running setup to own the files
      UID: "${DOODBA_GITAGGREGATE_UID:-1000}"
      GID: "${DOODBA_GITAGGREGATE_GID:-1000}"
      UMASK: "$DOODBA_UMASK"
      PROXY_MODE: "false"
      DOODBA_ENVIRONMENT: "devel"
      LIST_DB: "true"
      DEBUGPY_ENABLE: "${DOODBA_DEBUGPY_ENABLE:-0}"
      PYTHONDONTWRITEBYTECODE: 1
      PYTHONOPTIMIZE: ""
      PYTHONPATH: /opt/odoo/custom/src/odoo
      SMTP_PORT: "1025"
      WDB_WEB_PORT: "{{ macros.version_major(odoo_version) }}984"
      # To avoid installing demo data export DOODBA_WITHOUT_DEMO=all
      WITHOUT_DEMO: "true"
      OPENUPGRADE_USE_DEMO: "false"
      OPENUPGRADE_OLD_VERSION: "{{  macros.last_version_major(odoo_version) }}.0"
      OPENUPGRADE_TARGET_VERSION: "{{ macros.version_minor(target_odoo_version) }}"
      OPENUPGRADE_BASE_VERSION: "{{ macros.version_minor(odoo_version) }}"
      OPENUPGRADE_BASE_DB: "{{ postgres_dbname }}_openupgrade_{{  macros.last_version_major(odoo_version) }}"
      OPENUPGRADE_PROJECT_DB: {{ postgres_dbname }}
      DOODBA_PROJECT_NAME: {{ project_name }}
      AUTOCOPY: "false"
      AGGREGATE: "true"
    # user: root
    entrypoint: /opt/odoo/custom/bin/migrate
    command:
      - odoo
      - --limit-memory-soft=0
      - --limit-time-real-cron=9999999
      - --limit-time-real=9999999
      - --workers=0
      - --update=all
      - --stop-after-init
    {%- if odoo_version >= 14 %}
      - --load=base,web,openupgrade_framework
      - --upgrade-path=/opt/odoo/custom/src/openupgrade/openupgrade_scripts/scripts
    {%- endif %}
  {% if postgres_version -%}
    depends_on:
      - db

  db:
    image: ghcr.io/tecnativa/postgres-autoconf:{{ postgres_version }}-alpine
    shm_size: 4gb
    environment:
      POSTGRES_DB: *dbname
      POSTGRES_USER: *dbuser
      CONF_EXTRA: |
        work_mem = 512MB
    volumes:
      - db:/var/lib/postgresql/data:z
  {%- endif %}

networks:
  public:

volumes:
  openupgrade_filestore_{{ project_name }}:
    external: true
  {% if postgres_version -%}
  db:
  {%- endif %}
