git+https://github.com/OCA/openupgradelib.git@master#egg=openupgradelib
bobtemplates.odoo
--prefer-binary

{% if odoo_version < 11.0 -%}
pathlib
unidecode<1.3.0
xlrd
ftpfs
XlsxWriter
xlsxwriter
pyOpenSSL
zeep
requests<2.27
cachetools<3.0.0,>=2.0.1
arrow
asn1crypto
bravado-core
charset-normalizer
elementpath
entrypoints
factur-x
fqdn
httplib2
#isoduration
jsonpointer
jsonref
jsonschema
keyring
#keyring.alt
msgpack
pkgconfig
pkgutil_resolve_name
pycountry
pycrypto
pycryptodome
pycurl
PyGObject
PyPDF4
pyproject
#pyproject-toml
pyrsistent
PySimpleSOAP
pyxdg
requests-pkcs12
rfc3339-validator
rfc3987
SecretStorage
simplejson
soupsieve
suds
swagger-spec-validator
toml
typing_extensions
webcolors
xmlsec
xmlsig
xmltodict
{% elif odoo_version < 14.0 -%}
altair==4.1.0
bcrypt==3.2.0
boto3==1.15.18
botocore==1.18.18
cachetools==4.2.2
endesive==2.0.9
imageio==2.15.0
imageio-ffmpeg==0.4.7
#lasso==0.0.5
mechanize==0.4.8
moviepy==1.0.3
networkx==2.5.1
oauthlib==3.2.0
pandas==0.24.2
paramiko==2.10.4
ptpython==3.0.20
pycryptodome==3.14.1
pyotp==2.6.0
pysftp==0.2.9
python-json-logger==2.0.2
python-slugify==1.2.6
python-u2flib-server==5.0.1
pyzbar==0.1.9
qrcode==6.1
redis==4.0.2
responses==0.17.0
unicodecsv==0.14.1
vbuild==0.8.1
{% elif odoo_version < 16.0 -%}
Avalara
#OpenSSL
PyPDF2
PyYAML
Voicent-Python
acme
algoliasearch>=2.0,<3.0
astor
bokeh==2.3.1
boto3
cachetools
chardet
cmislib
contextvars
contextvars; python_version < '3.7'
cryptography==2.6.1
dataclasses
dateparser
#dateutil
dicttoxml
dnspython
elasticsearch>=7.0.0,<=7.13.4
email-validator
email_validator
endesive
extract_msg
factur-x
fdfgen
freezegun
geojson
invoice2data
josepy
lxml
mock
mpld3
num2words
numpy
numpy-financial<=1.0.0
numpy>=1.15
odoo-test-helper
odoo-test-helper >= 1.1.0
odoo-test-helper>=1.1.0
#odoo14-addon-contract @git+https://github.com/ecosoft-odoo/contract@14.0-mig-agreement_legal#subdirectory=setup/agreement_legal
odoo_test_helper
odoorpc
ofxparse
opencv-python-headless
openpyxl
openupgradelib
ovh
parameterized
paramiko
pdf2image
phonenumbers
pika
plotly==5.4.0
premailer
py-Asterisk
py3o.formats
py3o.template
#pyOpenSSL
pycountry
pycryptodome
pyftpdlib
pygount
pyjwt
pyjwt[cryptography]
pypdf>=3.1.0
pysaml2
pysftp
python-barcode
python-dateutil
python-jose
python-ldap
python-magic
python-stdnum
python-stdnum>=1.16
python_slugify
pytz
pyyaml
pyzbar
qrcode
regex
requests
requests-mock
requests_mock
requests_pkcs12
responses
roulier
sentry_sdk<=1.9.0
shapely
simplejson
suds-py3
schwifty
unicodecsv
unidecode
validators
vcrpy
vcrpy-unittest
webcolors
xlrd
xmlschema
xmlsig
xmltodict
xmlunittest
zeep
zxcvbn
{% elif odoo_version < 18.0 -%}
Avalara
#OpenSSL
PyPDF2
PyYAML
Voicent-Python
acme
algoliasearch>=2.0,<3.0
astor
bokeh==2.3.1
boto3
cachetools
chardet
cmislib
contextvars
contextvars; python_version < '3.7'
cryptography==3.4.8
dataclasses
dateparser
#dateutil
dicttoxml
dnspython
elasticsearch>=7.0.0,<=7.13.4
email-validator
email_validator
endesive
extract_msg
factur-x
fdfgen
freezegun
geojson
invoice2data
josepy
lxml
mock
mpld3
num2words
numpy
numpy-financial<=1.0.0
numpy>=1.15
odoo-test-helper
odoo-test-helper >= 1.1.0
odoo-test-helper>=1.1.0
#odoo14-addon-contract @git+https://github.com/ecosoft-odoo/contract@14.0-mig-agreement_legal#subdirectory=setup/agreement_legal
odoo_test_helper
odoorpc
ofxparse
opencv-python-headless
openpyxl
openupgradelib
ovh
parameterized
paramiko
pdf2image
phonenumbers
pika
plotly==5.4.0
premailer
py-Asterisk
py3o.formats
py3o.template
#pyOpenSSL
pycountry
pycryptodome
pyftpdlib
pygount
pyjwt
pyjwt[cryptography]
pypdf>=3.1.0
pysaml2
pysftp
python-barcode
python-dateutil
python-jose
python-ldap
python-magic
python-stdnum
python-stdnum>=1.16
python_slugify
pytz
pyyaml
pyzbar
qrcode
regex
requests
requests-mock
requests_mock
requests_pkcs12
responses
roulier
sentry_sdk<=1.9.0
shapely
simplejson
suds-py3
schwifty
unicodecsv
unidecode
validators
vcrpy
vcrpy-unittest
webcolors
xlrd
xmlschema
xmlsig
xmltodict
xmlunittest
zeep
zxcvbn
{% endif -%}
